<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<br>
<div>
  <img
    class="profiles"
    src="<%= profile.avatar %>"
    alt="<%= profile.name %> avatar"
  />
<h1><%= profile.name %></h1>
</div>
<div id="profile">
  <h2 id="skills">Skills</h2>
  <ul class="profile-skills">
      <% skill.forEach(skill => { %>
        <% if (profile._id.equals(skill.owner._id)) { %>
        <li>
          <a href="/skills/<%= skill._id %>">
            <%= skill.name %>
          </a>
        </li>
        <% } %>
      <% }) %>

  </ul>
</div>

<%- include('../partials/footer') %>