<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<br>
<div>
  <img
    class="profiles"
    src="<%= user.profile.avatar %>"
    alt="<%= user.profile.name %> avatar"
  />
<h1><%= profile.name %></h1>
</div>
<div>
  <h2 id="skills">Skills</h2>
  <ul>
      <% skill.forEach(skill => { %>
        <li>
          <a href="/skills/<%= skill._id %>">
            <%= skill.name %>
          </a>
        </li>
      <% }) %>

  </ul>
</div>

<%- include('../partials/footer') %>