<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>Welcome! Share a skill or be inspired to learn a new one!</h1>
  <% if (user) { %>
  
    <h2>Share a Skill!</h2>
    <form action="/skills" method="POST">
      <label>
        Name of Skill:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Description
        <input type="text" name="description" id="description" autocomplete="off">
      </label>
      <label>
        Experience:
        <select name="experience" id="experience">
        <option value="less than 1 year">1 year or less</option>
        <option value="1-2 years">1-2 years</option>
        <option value="2-3 years">2-3 years</option>
        <option value="3+ years">3+ years</option>
        </select>
      </label>
      <button type="submit">Share</button>
    </form>
    <% } %>

    <ul>
      <% skills.forEach(skill => { %>
      <li>
        <h3>
        <%= skill.owner.name %> is good at
        <a href="/skills/<%= skill._id %>"><%= skill.name %></a>
        </h3>
 
      </li>
      <% }) %>
    </ul>

</main>


<%- include('../partials/footer') %>