<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1><%= skill.name %></h1>
<h2><%= skill.experience %></h2>
<h2><%= skill.description %></h2>
<form action="/skills/<%= skill._id %>/edit">
  <button type="submit">Edit</button>
</form>
<form action="/skills/<%= skill._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>

<h3>Leave a comment!</h3>
<form action="/skills/<%= skill._id %>" method="POST">
  <input type="text" name="text" autocomplete="off">
  <button type="submit">Submit</button>
</form>
<ul>
  <% skill.comment.forEach(comment => { %>
    <li>
      <%= comment.text %>
    </li>
    
  <% }) %>
</ul>

<%- include('../partials/footer') %>